/******************
VARIABELEN
******************/

:root {
    --primarycolor: #FE0100;
    --secondarycolor: #06c;
    --thirdcolor: #f1f1ec;
    --fourthcolor: white;
    --font-family: 'AmericanTypewriter';
    --padding:  3em .5em 3.5em;
    --titelgrootte: 3em;
    --tekstgrootte: 1.3em
}

/******************
ALGMENE STIJLING
******************/

body {
    padding: 0;
    margin:0 ;
}

.menu {
    padding:0;
    margin:0 ;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

li {
    padding-bottom: .5em;
}

h2 {
    font-size: var(--titelgrootte);
    margin-bottom: -.03em;
    text-align: left;
    margin-left: .7em;
}

/******************
KLEUREN MENU
******************/
.list {
    position: relative;
    padding: var(--padding);
}

.list::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3em;
    left: 0;
    bottom: -3em;
    background: linear-gradient(184deg, var(--background-skew)  0%, var(--background-skew)  50%, rgba(255,0,0,0) 50%);
    z-index: 2;
}

.list1 {
    background-color:var(--primarycolor);
    color: var(--fourthcolor);
    --background-skew: var(--primarycolor);
}

.list2 {
    background-color: var(--secondarycolor);
    color: var(--fourthcolor);
    --background-skew: var(--secondarycolor);
}

.list3 {
    background-color: var(--fourthcolor);
    color: black;
    --background-skew: var(--fourthcolor);
}

.list4 {
    background-color:var(--thirdcolor);
    color: black;
}

.list1 li a, .list2 li a{
    color: var(--fourthcolor)
}

.list3 li a, .list4 li a {
    color: black;
}



/******************
FONT FAMILY
******************/

body {
    font-family: var(--font-family);
    padding: auto;
    margin: auto;
}

/******************
OPMAAK LIST ITEMS
******************/

.menu {
    padding:0;
    margin:0 ;
    display: none;
    max-height: 0;
    overflow: hidden;
}

.menu-open {
    max-height:none;
    overflow: auto;
    display: block;
}

.menu li {
    list-style:circle;
}

.menu li ul li:nth-of-type(1) {
    list-style: none;
    padding-bottom: 2em;
}

.menu li a {
    text-decoration: none;
    font-size: var(--tekstgrootte);
}

span {
    display: flex;
    flex-direction: column;
    font-weight: 700;
}


/******************
HAMBURGER
******************/
nav > button {
    position: fixed;
    background-color: var(--primarycolor);
    top: 32px;
    left: 48px;
    width: 4em;
    height: 4em;
    cursor: pointer;
    z-index: 100;
    border: none;
}

svg {
    fill: var(--fourthcolor);
    width: 100%;
}

.afsluiten {
    display: none;
}

nav.menu-is-open .afsluiten {
    display: block;
}

nav.menu-is-open > button:first-of-type {
    display: none;
}



